
.addProductDialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .2);
}

.addProductDialog .dialogBox {
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
  width: 600px;
  height: 600px;
  background: #9ad3cd;
}

.addProductDialog .dialogContent {
  position: absolute;
  width: 100%;
  height: calc(100% - 47px);
  overflow-y: auto;
}

.addProductDialog .description {
  resize: none;
  /* height: 100px; */
  height: calc(100% - 20px);
}

.addProductSubmit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.addProductDialog .newCatInput {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px;
  padding-left: 3px;
  margin-left: 17px;
  border-bottom: 4px solid var(--foreground);
}

/* .addProductDialog .newCatInput:hover, .addProductDialog .newCatInput:focus {
  border-bottom: 4px solid var(--foreground);
  transition: .1s;
} */

.addProductDialog .newCatCheckbox {
  visibility: hidden;
}

.addProductDialog .newCatSubmit {

}

.addProductDialog .categories label {
  display: block;
  font-size: 18px;
}

.addProductDialog .catBox {
  box-shadow: 0 0 5px black;
  padding: 5px;
}

.addProductDialog .imgBox {
  position: relative;
  box-shadow: 0 0 5px black;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 5px;
}

.addProductDialog .imgPreview {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.addProductDialog .imgBtn {
  padding: 0;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

.addProductDialog .imgBtn:hover {
  box-shadow: 0 0 5px black;
}

.addProductDialog .imgBtn img {
  width: 100%;
}

.addProductDialog .imgSelect {
  position: absolute;
  left: 0;
  bottom: 0;
}

.addProductDialog .imgClear {
  position: absolute;
  right: 0;
  bottom: 0;
}

.addProductDialog .publicWarn {
  text-align: center;
  background: yellow;
  font-size: 18px;
  padding: 5px;
}

.brandBox {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 265px;
  height: 70px;
}

.productTypeBox {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 265px;
  height: 70px;
}

.amountBox {
  position: absolute;
  left: 20px;
  top: 120px;
  width: 560px;
  height: 70px;
}

.amountInputBox {
  box-shadow: 0 0 5px black;
  height: 40px;
  width: 110px;
  position: relative;
  margin-top: 5px;
}

.amountValue {
  width: 60px;
  display: block;
  position: absolute;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
  height: 40px;
}

.amountUnit {
  width: 50px;
  display: block;
  position: absolute;
  left: 60px;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
  height: 40px;
}

.shortDescBox {
  position: absolute;
  left: 150px;
  top: 120px;
  /* width: 560px; */
  height: 70px;
  right: 20px;
}

.productCodeBox {
  position: absolute;
  left: 190px;
  top: 200px;
  /* width: 560px; */
  height: 70px;
  right: 20px;
}

.packageTypeBox {
  position: absolute;
  left: 190px;
  top: 310px;
  /* width: 560px; */
  height: 70px;
  right: 20px;
}

.imgRow {
  position: absolute;
  left: 20px;
  top: 200px;
  width: 150px;
  height: 175px;
}

.descriptionBox {
  position: absolute;
  left: 20px;
  top: 385px;
  /* width: 380px; */
  height: 150px;
  right: 20px;
}

.submitBox {
  position: absolute;
  left: 20px;
  top: 555px;
  width: 540px;
  height: 100px;
}
