
.statusBarBackBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.items {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 20px);
}

.listContent {
  overflow-y: auto;
  height: 100%;
  padding: 10px;
}

.charityItem {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.charityName {
  font-size: 22px;
  font-weight: bold;
}

.charityProp {
  font-size: 22px;
}

.charityPropValue {
  padding: 10px;
  font-size: 20px;
  font-style: italic;
}

.charityPlaces {
  padding: 10px;
}

.charityUsers {
  padding: 10px;
}
