
/* TODO: split these to dialog and form? */

.formTitle {
  display: block;
  width: 100%;
  color: var(--foreground-text);
  font-size: 30px;
  background: var(--foreground);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 36px;
  /* TODO should it have a shadow? */
  /* box-shadow: 0 0 5px black; */
  /* z-index: 9; */
}

.formTitleText {
  margin-left: 10px;
  display: inline-block;
  height: 36px;
  width: calc(100% - 66px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.formClose {
  background: red;
  color: white;
  font-size: 24px;
  border: none;
  margin: 0;
  float: right;
  padding: 0;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  box-shadow: 0 0 8px black;
  transition: .1s;
}

.formClose:hover {
  background: #F55;
}

.formSubmit {
  background: var(--foreground);
  color: var(--foreground-text);
  font-size: 24px;
  border: none;
  display: block;
  height: 60px;
  box-shadow: 0 0 8px black;
  transition: .1s;
}

.formSubmit:hover {
  background: var(--foreground-highlight);
}

.formRow {
  display: block;
  margin-left: 10%;
  width: 80%;
  margin-top: 20px;
  color: black;
  font-size: 18px;
}

.wideFormRow {
  position: relative;
  height: 40px;
  display: block;
  margin-left: 20px;
  width: calc(100% - 40px);
  color: black;
  font-size: 22px;
}

.wideFormLabel {
  display: inline-block;
  padding-top: 6px;
}

.wideFormContent {
  float: right;
}

.doubleRowContent {
  margin-top: 10px;
  float: right;
}

.formInput {
  display: block;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  height: 25px;
  width: calc(100% - 10px);
  color: black;
  font-size: 20px;
  border-bottom: solid 4px var(--foreground);
  box-shadow: 0 0 8px black;
  margin-top: 5px;
}

.formSelect {
  display: block;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  height: 25px;
  box-sizing: content-box;
  width: calc(100% - 10px);
  color: black;
  font-size: 20px;
  border-bottom: solid 4px var(--foreground);
  box-shadow: 0 0 8px black;
  margin-top: 5px;
}

.invalid {
  background: rgba(255, 0, 0, .5) !important;
  transition: .1s;
}

.popupMsg {
  margin: 0;
  width: 100%;
  padding: 0;
  height: 0px;
  display: block;
  text-align: center;
  overflow: hidden;
  transition: .1s;
  box-sizing: border-box;
  font-size: 18px;
}

.popupMsg.show {
  padding: 3px;
  height: auto;
  transition: .1s;
}

.errorMsg {
  background: red;
  color: white;
}

.infoMsg {
  background: #2D1;
  color: white;
}

/* Used in addItem (add product '+' btn) - TODO keep it this way? */
.squareBtn {
  background: var(--foreground);
  color: var(--foreground-text);
  border: none;
  outline: none;
  width: 39px;
  height: 39px;
  box-shadow: 0 0 8px black;
  font-size: 32px;
}

.squareBtn:hover {
  background: var(--foreground-highlight);
}

.squareBtn[disabled] {
  background: none;
}

.squareBtn img {
  width: 100%;
}
