
:root {
  --actions-width: 200px;
}

.statusBarBackBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.actions {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--actions-width);
  height: 100%;
  box-shadow: 0 10px 5px black;
  overflow-y: auto;
}

.actionsTitle {
  font-size: 16px;
  padding: 10px;
  /* padding-bottom: 0; */
  text-align: center;
}

.actionBtn {
  display: block;
  margin: 10px;
  width: calc(100% - 20px);
  height: 30px;
  border: none;
  font-size: 20px;
  box-shadow: 0 0 5px black;
  color: black;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .1s;
  background: var(--item-background);
  position: relative;
}

.actionBtn:hover {
  padding-left: 16px;
}

.actionBtn.selected {
  font-weight: bold;
  padding-left: 16px;
}

.actionBtn.selected::after {
  content: '>';
  position: absolute;
  float: right;
  right: 0;
  /* width: 30px; */
  width: 20px;
}

.actionBtn.selected {
  padding-right: 20px;
}

.actionBtn.selected:hover::after {
  color: inherit;
}

.actionList {
  height: calc(100% - 38px);
  overflow-y: auto;
}

.currentAction {
  position: absolute;
  left: var(--actions-width);
  right: 0;
  top: 0;
  height: 100%;
  /* overflow-x: auto; */
}

.items {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  padding: 10px;
  height: calc(100% - 20px);
  min-width: 600px;
}

.listContent {
  overflow-y: auto;
  height: 100%;
}

.hintLabel {
  font-size: 16px;
  margin: 5px;
  text-align: center;
}

.itemContainer {
  font-size: 20px;
  padding: 0;
  margin: 10px;
  position: relative;
  background: var(--item-background);
  box-shadow: 0 0 5px black;
  /* height: 46px; */
  /* transition: .2s; */
  overflow: hidden;
  /* cursor: pointer; */
}

.editSuggestionItem {
  position: relative;
  height: 230px;
}

.editSuggestionItem .oldProduct {
  position: absolute;
  width: 50%;
}

.editSuggestionItem .newProduct {
  position: absolute;
  left: 50%;
  width: 50%;
}

.editSuggestionItem .productLabel {
  position: absolute;
  left: 8px;
  top: 5px;
  width: calc(100% - 16px);
  font-size: 16px;
}

.editSuggestionItem .productTitle {
  position: absolute;
  top: 25px;
  left: 5px;
  width: calc(100% - 10px);
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editSuggestionItem .productShortDesc {
  position: absolute;
  left: 110px;
  top: 55px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editSuggestionItem .productCode {
  position: absolute;
  left: 110px;
  top: 77px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editSuggestionItem .productPackageType {
  position: absolute;
  left: 110px;
  top: 99px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editSuggestionItem .productDescription {
  position: absolute;
  left: 110px;
  top: 121px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editSuggestionItem .productImage {
  position: absolute;
  left: 5px;
  top: 55px;
  width: 100px;
  height: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.editSuggestionItem .email {
  position: absolute;
  left: 5px;
  top: 160px;
  font-size: 18px;
}

.editSuggestionItem .options {
  position: absolute;
  left: 5px;
  top: 180px;
}

.editSuggestionItem .optionBtn {
  border: none;
  background: var(--foreground);
  font-size: 20px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 5px;
}

.editSuggestionItem .optionBtn:hover {
  background: var(--foreground-highlight);
}

.editSuggestionItem .discardBtn {
  background: red;
  color: white;
}

.editSuggestionItem .discardBtn:hover {
  background: #F55;
}

.editSuggestionItem .acceptBtn {
  background: #0F0;
  color: black;
}

.editSuggestionItem .acceptBtn:hover {
  background: #9F9;
}

.userItem .email {
  font-weight: bold;
  padding: 5px;
}

.userItem .userRoleDiv {
  padding: 10px 0 10px 0;
}

.userItem .roleLabel {
  padding: 10px;
}

.userItem .roleSelect {
  display: inline-block;
  width: inherit;
}

.userItem .options {
  padding: 10px;
}

.userItem .optionBtn {
  border: none;
  background: var(--foreground);
  font-size: 20px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 5px;
}

.userItem .optionBtn:hover {
  background: var(--foreground-highlight);
}

.productItem {
  position: relative;
  height: 160px;
}

.productItem .product {
  position: absolute;
  width: calc(100% - 300px);
}

.productItem .options {
  position: absolute;
  width: 300px;
  right: 0;
}

.productItem .productTitle {
  position: absolute;
  top: 0;
  left: 5px;
  width: calc(100% - 10px);
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productShortDesc {
  position: absolute;
  left: 110px;
  top: 30px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productCode {
  position: absolute;
  left: 110px;
  top: 52px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productPackageType {
  position: absolute;
  left: 110px;
  top: 74px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productDescription {
  position: absolute;
  left: 110px;
  top: 96px;
  width: calc(100% - 115px);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItem .productImage {
  position: absolute;
  left: 5px;
  top: 30px;
  width: 100px;
  height: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.productItem .email {
  position: absolute;
  left: 5px;
  top: 135px;
  font-size: 18px;
}

.productItem .optionBtn {
  border: none;
  background: var(--foreground);
  font-size: 20px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 5px;
  width: calc(100% - 10px);
}

.productItem .optionBtn:hover {
  background: var(--foreground-highlight);
}

.charityRequestItem .options {
  padding: 10px;
}

.charityRequestItem .optionBtn {
  border: none;
  background: var(--foreground);
  font-size: 20px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 5px;
}

.charityRequestItem .optionBtn:hover {
  background: var(--foreground-highlight);
}

.charityRequestItem .discardBtn {
  background: red;
  color: white;
}

.charityRequestItem .discardBtn:hover {
  background: #F55;
}

.charityRequestItem .acceptBtn {
  background: #0F0;
  color: black;
}

.charityRequestItem .acceptBtn:hover {
  background: #9F9;
}

.charityRequestItem .charity {
  padding: 10px;
}

.charityRequestItem .charityName {
  font-weight: bold;
}

.charityRequestItem .charityContacts {
  margin-left: 10px;
}

.charityRequestItem .charityPlaces {
  margin-left: 10px;
}



.activeCharityItem .options {
  padding: 10px;
}

.activeCharityItem .optionBtn {
  border: none;
  background: var(--foreground);
  font-size: 20px;
  box-shadow: 0 0 5px black;
  padding: 5px;
  margin: 5px;
}

.activeCharityItem .optionBtn:hover {
  background: var(--foreground-highlight);
}

.activeCharityItem .charity {
  padding: 10px;
}

.activeCharityItem .charityName {
  font-weight: bold;
}

.activeCharityItem .charityContacts {
  margin-left: 10px;
}

.activeCharityItem .charityPlaces {
  margin-left: 10px;
}

.main {
  overflow-x: auto;
}
