.unuseItemDialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .2);
}

.unuseItemDialog .dialogBox {
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 120px);
  width: 400px;
  height: 240px;
  background: #9ad3cd;
}

.unuseItemDialog .dialogContent {
  position: absolute;
  width: 100%;
  height: calc(100% - 47px);
  overflow-y: auto;
}
