<div class="dialogBox">
  <div class="formTitle">
    <span layout-id="title" class="formTitleText"></span>
    <button dialog-close class="formClose" type="button" layout-id="closeBtn">X</button>
  </div>
  <div class="dialogContent">
    <div layout-id="warning" class="publicWarn"></div>
    <div layout-id="error" class="popupMsg errorMsg formError"></div>
    <form layout-error="error" class="form">
      <div class="shortDescBox">
        Název produktu: <span title="Povinné pole">*</span> <a class="hint" tooltip="Název nebo krátký popis (nápis na hlavní straně balení)&#10;např. Heinz Beanz In a rich tomato sauce">(?)</a>
        <input required maxlength="128" layout-id="shortDesc" layout-display="krátký popis" class="formInput"></input>
      </div>
      <div class="amountBox">
        Množství: <a class="hint" tooltip="Hmotnost nebo objem obsahu jednoho balení">(?)</a>
        <div class="amountInputBox">
          <input type="int" min="1" max="99999" layout-id="amountValue" layout-display="množství" class="formInput amountValue"></input>
          <select layout-id="amountUnit" class="formSelect amountUnit">
            <option value="g">g</option>
            <option value="ml">ml</option>
          </select>
        </div>
      </div>
      <div class="brandBox">
        Výrobce / Značka: <span title="Povinné pole">*</span> <a class="hint" tooltip="Výrobce nebo značka produktu - např. Heinz">(?)</a>
        <input required maxlength="64" layout-id="brand" layout-display="značka" class="formInput" list="datalist_brands"></input>
        <datalist id="datalist_brands"></datalist>
      </div>
      <div class="productCodeBox">
        Kód produktu: <span title="Povinné pole">*</span> <a class="hint" tooltip="Číslo, které identifikuje produkt (číslo u čárového kódu, bez mezer)">(?)</a>
        <input required maxlength="64" layout-id="productCode" layout-display="kód produktu" class="formInput"></input>
      </div>
      <div class="packageTypeBox">
        Typ balení: <a class="hint" tooltip="Jak je produkt zabalený (např. Konzerva)">(?)</a>
        <input maxlength="64" layout-id="packageType" layout-display="typ balení" class="formInput" list="datalist_packageTypes"></input>
        <datalist id="datalist_packageTypes"></datalist>
      </div>
      <div class="imgRow">
        Obrázek:
        <div class="imgBox">
          <div layout-id="imgPreview" class="imgPreview"></div>
          <button layout-id="imgSelect" type="button" class="imgBtn imgSelect" tooltip="Vybrat obrázek">
            <img src="res/chooseImage.png"></img>
          </button>
          <button layout-id="imgClear" type="button" class="imgBtn imgClear" tooltip="Zrušit výběr">
            <img src="res/clear.png"></img>
          </button>
        </div>
      </div>
      <div class="submitBox">
        <button type="submit" class="formSubmit">Uložit</button>
      </div>
    </form>
  </div>
</div>
