<!-- TODO currently not used - shown in old charity list -->
<div class="charityName" layout-id="name"></div>
<div class="charityProp">Kontakty:<div class="charityPropValue charityContact" layout-id="contacts"></div></div>
<div class="charityProp">Místa:
  <div class="charityPlaces" layout-id="places"></div>
</div>
<button class="formBtn" layout-id="editInfoBtn">Upravit</button>
<div class="charityProp">Uživatelé:
  <div class="charityPropValue charityUsers" layout-id="users"></div>
</div>
<button class="formBtn" layout-id="editUsersBtn">Upravit</button>