<div class="charityName" layout-id="name"></div>
<div class="charityProp">Vzdálenost: <span layout-id="distance">?</span></div>
<div class="charityProp">Adresa:
  <button class="showOnMapBtn" layout-id="showOnMapBtn" title="Zobrazit na mapě"><img src="res/location.png"></img></button>
  <div class="charityPropValue charityAddress">
    <span layout-id="address"></span>
  </div>
</div>
<div class="charityProp">Otevírací doba: <div class="charityPropValue charityOpenHours" layout-id="openHours"></div></div>
<div class="charityProp">Kontakty:
  <div class="charityPropValue charityContacts" layout-id="contacts"></div>
</div>