
<div class="charity">
  <div><span class="charityName" layout-id="name"></span></div>
  <div>Identifikační číslo: <span class="charityOrgId" layout-id="orgId"></span></div>
  <div>Kontakty:<div class="charityContacts" layout-id="contacts"></div></div>
  <div>Místa: <div class="charityPlaces" layout-id="places"></div></div>
  <div>Přidal: <span class="charityUser" layout-id="user"></span></div>
</div>

<div class="options">
  <button class="optionBtn acceptBtn" layout-id="acceptBtn">Potvrdit</button>
  <button class="optionBtn discardBtn" layout-id="discardBtn">Zamítnout</button>
  <button class="optionBtn discardBtn" title="Uživatel nebude moci registrovat charity" layout-id="suspendUserBtn">Zamítnout a Blokovat uživatele</button>
</div>
