<div class="dialogBox">
  <div class="formTitle">
    <span class="formTitleText">Upravit položku</span>
    <button dialog-close class="formClose" type="button">X</button>
  </div>
  <div class="dialogContent">
    <div layout-id="error" class="popupMsg errorMsg formError"></div>
    <form layout-error="error" class="itemForm">
      <input type="hidden" name="itemId" layout-id="itemId"></input>
      <div class="row wideFormRow">
        <span class="wideFormLabel">Počet: <span title="Povinné pole">*</span></span>
        <span class="wideFormContent"><input type="count" required min="1" max="99999" layout-id="count" layout-display="počet"></input></span>
      </div>
      <div class="row wideFormRow">
        <span class="wideFormLabel">Minimální trvanlivost: <a title="Musí obsahovat alespoň měsíc a rok, nebo musí být prázdné">(?)</a></span>
        <span class="doubleRowContent"><input type="dmy" layout-id="expiration" layout-display="minimální trvanlivost"></input></span>
      </div>
      <div>
        <button class="formSubmit" type="submit">Uložit</button>
      </div>
    </form>
  </div>
</div>
