
<div class="oldProduct">
  <div class="productLabel oldLabel">Původní:</div>
  <div class="productTitle oldProductTitle" layout-id="oldTitle"></div>
  <div class="productShortDesc oldProductShortDesc" layout-id="oldShortDesc"></div>
  <div class="productCode oldProductCode" layout-id="oldCode"></div>
  <div class="productPackageType oldProductPackageType" layout-id="oldPackageType"></div>
  <div class="productDescription oldProductDescription" layout-id="oldDescription"></div>
  <div class="productImage oldProductImage" layout-id="oldImg"></div>
</div>

<div class="newProduct">
  <div class="productLabel newLabel">Nový:</div>
  <div class="productTitle newProductTitle" layout-id="newTitle"></div>
  <div class="productShortDesc newProductShortDesc" layout-id="newShortDesc"></div>
  <div class="productCode newProductCode" layout-id="newCode"></div>
  <div class="productPackageType newProductPackageType" layout-id="newPackageType"></div>
  <div class="productDescription newProductDescription" layout-id="newDescription"></div>
  <div class="productImage newProductImage" layout-id="newImg"></div>
</div>

<div class="email">Změnu navrhl: <span layout-id="email"></span></div>

<div class="options">
  <button class="optionBtn acceptBtn" layout-id="acceptBtn">Potvrdit</button>
  <button class="optionBtn discardBtn" layout-id="discardBtn">Zamítnout</button>
  <!-- <button class="optionBtn">Upravit produkt</button> -->
  <button class="optionBtn discardBtn" title="Uživatel nebude moci navrhovat změny a přidávat produkty" layout-id="suspendUserBtn">Zamítnout a Blokovat uživatele</button>
</div>
