
<div class="oldProduct">
  <div class="productLabel oldLabel">Původní:</div>
  <div class="productTitle oldProductTitle" layout-id="oldTitle"></div>
  <div class="productImage oldProductImage" layout-id="oldImg"></div>
  <div class="productBrand oldProductBrand">Značka: <span layout-id="oldBrand"></span></div>
  <div class="productAmount oldProductAmount">Množství: <span layout-id="oldAmount"></span></div>
  <div class="productCode oldProductCode">Kód: <span layout-id="oldCode"></span></div>
  <div class="productPackageType oldProductPackageType">Balení: <span layout-id="oldPackageType"></span></div>
</div>

<div class="newProduct">
  <div class="productLabel newLabel">Nový:</div>
  <div class="productTitle newProductTitle" layout-id="newTitle"></div>
  <div class="productImage newProductImage" layout-id="newImg"></div>
  <div class="productBrand newProductBrand">Značka: <span layout-id="newBrand"></div>
  <div class="productAmount newProductAmount">Množství: <span layout-id="newAmount"></div>
  <div class="productCode newProductCode">Kód: <span layout-id="newCode"></div>
  <div class="productPackageType newProductPackageType">Balení: <span layout-id="newPackageType"></div>
</div>

<div class="email">Změnu navrhl: <span layout-id="email"></span></div>

<div class="options">
  <button class="optionBtn acceptBtn" layout-id="acceptBtn">Potvrdit</button>
  <button class="optionBtn discardBtn" layout-id="discardBtn">Zamítnout</button>
  <button class="optionBtn discardBtn" title="Uživatel nebude moci navrhovat změny a přidávat produkty" layout-id="suspendUserBtn">Zamítnout a Blokovat uživatele</button>
</div>
