
<div class="itemBrief">
  <div class="itemBriefTitle">
    <div class="itemBriefName"></div>
    <div class="itemBriefShortDesc"></div>
  </div>
  <div class="itemBriefCount"></div>
  <div class="itemBriefExpDate"></div>
  <div class="itemBriefExpIn"></div>
</div>

<div class="itemDetails">
  <div class="itemDetailsImg"></div>
  <div class="itemDetailsTitle">
    <div class="itemDetailsName"></div>
    <div class="itemDetailsShortDesc"></div>
    <div class="itemDetailsEditProduct" title="Upravit produkt">
      <img src="res/edit.png"></img>
    </div>
  </div>
  <div class="itemDetailsPackage"></div>
  <div class="itemDetailsCount"></div>
  <div class="itemDetailsExpDate"></div>
  <div class="itemDetailsExpIn"></div>
  <div class="itemDetailsMenu">
    <button class="itemEditBtn itemMenuBtn" title="Upravit položku"><img src="res/edit.png"></img></button>
    <button class="itemUseBtn itemMenuBtn" title="Přesunout mezi použité"><img src="res/use.png"></img></button>
    <button class="itemUnuseBtn itemMenuBtn" title="Přesunout mezi nepoužité"><img src="res/unuse.png"></img></button>
    <button class="itemMoveBtn itemMenuBtn" title="Přesunout do jiné tašky"><img src="res/moveBags.png"></img></button>
    <button class="itemDeleteBtn itemMenuBtn" title="Odstranit položku"><img src="res/delete.png"></img></button>
  </div>
  <div class="itemUseMenu">
    <button class="itemUseBackBtn itemMenuBtn" title="Zpět"><img src="res/back.png"></img></button>
    <button class="itemUseDecrementBtn itemMenuBtn"><img src="res/decrement.png"></img></button>
    <input class="itemUseCountInput itemMenuInput" type="int" value="1"></input>
    <button class="itemUseIncrementBtn itemMenuBtn"><img src="res/increment.png"></img></button>
    <button class="itemUseAcceptBtn itemMenuBtn" title="Potvrdit"><img src="res/accept.png"></img></button>
  </div>
</div>
