
<div class="product">
  <div class="productTitle" layout-id="productTitle"></div>
  <div class="productImage" layout-id="productImage"></div>
  <div class="productBrand" layout-id="productBrand"></div>
  <div class="productAmount" layout-id="productAmount"></div>
  <div class="productCode" layout-id="productCode"></div>
  <div class="productPackageType" layout-id="productPackageType"></div>
</div>

<div class="email">Přidal: <span layout-id="email"></span></div>

<div class="options">
  <div><button class="optionBtn" layout-id="editBtn">Upravit</button></div>
</div>
