
<div class="product">
  <div class="productTitle" layout-id="productTitle"></div>
  <div class="productShortDesc" layout-id="productShortDesc"></div>
  <div class="productCode" layout-id="productCode"></div>
  <div class="productPackageType" layout-id="productPackageType"></div>
  <div class="productDescription" layout-id="productDescription"></div>
  <div class="productImage" layout-id="productImage"></div>
</div>

<div class="email">Přidal: <span layout-id="email"></span></div>

<div class="options">
  <div><button class="optionBtn" layout-id="editBtn">Upravit</button></div>
</div>
