
<div class="email">
  <span>E-mail:</span>
  <span layout-id="email"></span>
</div>
<div class="userRoleDiv">
  <span class="roleLabel">Role:</span>
  <select class="formSelect roleSelect" layout-id="roleSelect">
    <option value="disabled" title="Nemůže používat aplikaci">disabled</option>
    <option value="viewer" title="Může pouze spravovat vlastní tašky">viewer</option>
    <option value="contributor" title="Může přidávat produkty, navrhovat změny produktů a registrovat charity">contributor</option>
    <option value="editor" title="Může měnit produkty a schvalovat změny produktů">editor</option>
    <option value="admin" title="Může měnit role uživatelů a spravovat charity">admin</option>
  </select>
</div>
