
<div class="email">
  <span>E-mail:</span>
  <span layout-id="email"></span>
</div>
<div class="userRoleDiv">
  <span class="roleLabel">Role:</span>
  <select class="formSelect roleSelect" layout-id="roleSelect">
    <option value="disabled">Neaktivní</option>
    <option value="viewer">Může zobrazovat produkty</option>
    <option value="contributor">Může navrhovat změny (Výchozí)</option>
    <option value="editor">Může měnit produkty</option>
    <option value="admin">Může měnit uživatele</option>
  </select>
</div>
<!-- <div class="options">
  <button class="optionBtn">Obnovit heslo</button>
</div> -->